<%= form_tag url_for(:controller => "search_history", :action => "email"), :id => 'email_search_form', :class => "form-horizontal ajax_form", :method => :post do %>

<div class="modal-body">
<%= render :partial=>'/flash_msg' %>
<div class="control-group">
<label class="control-label" for="to">
<%= t('blacklight.email.form.send_to') %>
</label>
<div class="controls">
<%= text_field_tag :to, params[:to] %><br/>
</div>
</div>
<div class="control-group">
<label class="control-label" for="message">
<%= t('blacklight.email.form.message') %>
</label>
<div class="controls">
<%= text_area_tag :message, params[:message] %>
<table class="table table-striped search_history">
  <%  @searches.each_with_index do |search,index| -%>
  <%= content_tag :tr, :id => "document_#{index + 1}" do %>
  	<td class="query"><%= check_box_tag search.id %></td>
    <td class="query"><%= link_to_previous_search(search.query_params) %></td>
    <%- if has_user_authentication_provider? -%>
    <td>results: <%= search.numfound %></td>
    <%- end -%>
  <% end #content_tag %>
<%- end -%>
</table>
</div>
</div>
</div>
<div class="modal-footer">
<button type="submit" class="btn btn-primary"> <%= t('blacklight.sms.form.submit') %></button>
</div>
<% end %>
